<p id="notice"><%= notice %></p>


<%= form_tag '/user_answers' do %>
  <p class = "question_content" >
    <%= @question.content %>
  </p>
  <%= hidden_field_tag :question_id, @question.id %>
  <div class = "answers">
    <% @question.answers.shuffle.each do |answer| %>
      <%= radio_button_tag 'answer_id', answer.id %> <%= answer.content %>
      <br />
    <% end %>
  </div>

  <%= submit_tag 'Next', class: "button"%>
  <%= link_to 'Finish', "/user_answers/finish", class: "button" %>

<% end %>


